.container { 
	display: flex;
	justify-content: center;
	flex-flow: row-wrap;
}

.content-display {

}


button {
  border-radius: 3px;
  width: 150px;
  margin: 1px;
  height: 25px;
}

button:click {
  
}

button:hover {
  cursor: pointer;
  background-color: #e0e1e2;

}



.input-title-field {
 height: 50px;
 font-size: 16px;
}


.input-code-field {
 height: 100px;
 font-size: 16px;
}


